<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>初回ログイン</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Londrina+Shadow" >
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
	<header> </header>
	<div class="main">
		<h1 th:text=" 'ようこそ！ ' + ${formModel.name} + 'さん' "></h1>
		<h2>初回ログイン時にはパスワードの変更が必要です</h2>
		<div class="login">
			<div class="errorMessages" th:if="${errorMessages != null}">
				<ul th:each="errorMessages: ${errorMessages}">
					<li th:text="${errorMessages}"></li>
				</ul>
			</div>
			<form method="post" th:action="@{/change}">
				<div class="form">
					<label class="form-label">現在のパスワード：</label> <input type="password"
						name="password"/>
				</div>
				<div class="form">
					<label class="form-label">新しいパスワード：</label> <input type="password"
						name="newPassword"/>
				</div>
				<div class="form">
					<label class="form-label">確認用パスワード：</label> <input type="password"
						name="confirmPassword"/>
				</div>
				<input type="submit" value="ログイン" class="button" /> <br />
			</form>
		</div>
	</div>
			<footer> </footer>
</body>
</html>